@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --container-8xl: 100rem;
}

:root {
    --ui-container: var(--container-8xl);
}

.dark {
    --btn-dark: #fff;
}

/* SVG logo */
.fil0 {
    fill: var(--btn-dark);
}
