@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --container-8xl: 100rem;
    --font-display: "Montserrat", sans-serif;
}

:root {
    --ui-container: var(--container-8xl);
    --ui-text-muted: var(--color-gray-950);
    --ui-text-dimmed: var(--color-gray-950);
    --category-item-bg: #f5f5f5;
    --ui-border: transparent;
}

.dark {
    --btn-dark: #fff;
    --ui-text-muted: #fff;
    --ui-text-dimmed: #fff;
    --category-item-bg: #182340;
}

/* SVG logo */
.fil0 {
    fill: var(--btn-dark);
}
